{% extends 'base.html' %}

{% block title %}My Bookings{% endblock %}

{% block content %}
<form id="search" class="row mb-3" method="POST">
    {# form.hidden_tag() #}
    <input type="hidden" name="email" value="user@email.com" />
    <div class="col">
        <div class="form-floating">
            <input id="orderID" name="orderID" type="number" 
                    placeholder="show order by ID"
                    class="form-control" required >
            <label for="orderID">OrderID</label>
        </div>
    </div>
    <div class="col-auto my-auto">
        <button type="submit" class="btn btn-outline-success rounded-pill px-5">Show Booking</button>
    </div>
</form>
<section class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 mb-3">
    
    {% for key, value in bookings.items() %}
        <div id="{{ key }}" class="col">
            <div class="card">
                <div class="card-body">
                    <a href="{{ url_for('events.view', id=value['Event ID: '])}}" class="nav-link">View Event</a>

                {% for key, value in value.items() %}
                <div><strong>{{ key }} </strong>{{ value }}</div>
                {% endfor %}
                
                
                </div>
            </div>
        </div>
    {% endfor %}




    
</section>
{% endblock %}
