{% extends 'base.html' %}

{% block title %}My Bookings{% endblock %}

{% block content %}
<form id="search" class="row mb-3" method="POST">
    {# form.hidden_tag() #}
    <input type="hidden" name="email" value="user@email.com" />
    <div class="col">
        <div class="form-floating">
            <input id="orderID" name="orderID" type="number" 
                    placeholder="show order by ID"
                    class="form-control" required >
            <label for="orderID">OrderID</label>
        </div>
    </div>
    <div class="col-auto my-auto">
        <button type="submit" class="btn btn-outline-success rounded-pill px-5">Show Booking</button>
    </div>
</form>
<section class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 mb-3">
    
    {% for booking, ticket, event in bookings %}
        <div id="{{ booking.id }}" class="col">
            <div class="card">
                <a href="{{ url_for('events.view', id=event.id)}}" class="card-image" style="background-image: url('{{ event.image }}')"></a>
                <div class="card-body">
                    <div class="card-body">
                        <h5>{{ event.name }}</h5>
                        <div><strong>orderID: </strong>{{ booking.id }}</div>
                        <div><strong>date: </strong>{{ ticket.datetime.strftime("%d/%m/%Y") }}</div>
                        <div><strong>time: </strong>{{ ticket.datetime.strftime("%I:%M %p") }}</div>
                        <div><strong>purchase price: </strong>${{ booking.total_price }}</div>
                        <div><strong>date purchased: </strong>{{ booking.purchase_datetime.strftime("%d/%m/%Y") }}</div>
                        <div class="mb-3"><strong>gondolas reserved: </strong>{{ booking.qty }}</div>
                        <div class="row">
                            {% if ticket.datetime > now %}
                                <span class="col my-auto">{{ event.status }}</span>
                                <a href="{{ url_for('events.view', id=event.id) }}" class="col-auto btn btn-outline-{{ event.getStatusColour() }} rounded-pill px-5">View event</a>
                            {% else %}
                                <a href="{{ url_for('events.view', id=event.id) + '#reviews' }}" class="col-auto btn btn-outline-{{ event.getStatusColour() }} rounded-pill px-5">Leave a review</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}




    
</section>
{% endblock %}
