{% extends 'base.html' %}

{% block title %}Create/Update an event{% endblock %}

{% block content %}
<!-- 
TODO:   use the form passed to this template
        we can't just use quickform anymore because we need to format the form our way.
        follow event.html as a guide

TODO: (much later) use the event passed to this template to prefill the form with data when editing
 -->
<form id="create-event" method="POST" action="{{ url_for('events.create') }}" enctype="multipart/form-data">
    <fieldset class="row mb-3 g-3">
        <legend>Event details</legend>
        <div class="col-lg-6">
            <div class="form-floating">
                <input id="eventname" name="name" type="text" class="form-control" 
                        placeholder="Give this event a name"></input>
                <label for="eventname">Event name</label>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="input-group form-floating">
                <input type="text" id="newcategory" name="newcategory" class="form-control" 
                        placeholder="select a category for this event"></input>
                <label for="newcategory" style="z-index: 3">Event category</label>
                <select id="category" name="category" class="form-select btn-outline-primary p-3" >
                    <option value="new" selected>new category</option>
                    {% for category in categories %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="w-100">
            <div class="form-floating">
                <textarea id="eventdesc" name="desc" class="form-control" rows="4"
                        style="height: auto;" placeholder="enter a description"></textarea>
                <label for="floatingTextarea2">Event description</label>
            </div>
        </div>
        <div class="input-group">
            <label for="eventimage" class="input-group-text">Event image</label>
            <input id="eventimage" name="image" type="file" class="form-control">
        </div>
        <div class="row m-3">
            <div class="col-md text-center my-auto">
                <label for="releaseWoTickets" 
                        class="form-check-label">Continue without releasing tickets</label>
                <input id="releaseWoTickets" class="form-check-input" type="checkbox" >
            </div>
            <div class="col-6 col-md-auto ms-md-0">
                <select id="eventStatus" name="status" disabled
                        class="form-select rounded-pill w-100 ps-4 pe-5" >
                    <option value="Inactive" selected>Inactive</option>
                    <option value="Upcoming">Upcoming</option>
                    <option value="Booked out">Booked out</option>
                    <option value="Cancelled">Cancelled</option>
                </select>
            </div>
            <div class="col-6 col-md-auto">
                <input id="eventSubmit" type="submit" value="create" name="submit" disabled
                        class="btn btn-primary rounded-pill w-100 px-5" />
            </div>
        </div>
    </fieldset>
    <fieldset id="tickets" class="row">
        <legend class="col-sm">Release tickets</legend>
        <span class="col-sm-auto my-auto">Please specify how many gondolas to reserve for each date/time slot and the price of the ticket.</span>
        <div class="w-100"></div>
        <fieldset id="ticketstable" class="col">
            <template id="empty-time-header">
                <div class="col">
                    <input type="time" min="10:00" max="23:30" step="1800" value="10:00" required
                            class="form-control btn-light rounded-pill text-center time-header "/>
                </div>
            </template>
            <template id="empty-date-row">
                <div class="row mb-3 g-2 gx-lg-5 date-row">
                    <div class="col">
                        <input type="date" min="2021-01-01" max="2022-12-31" value="2021-01-01" 
                                class="btn btn-light rounded-pill w-100 date-header" required/>
                    </div>
                </div>
            </template>
            <template id="empty-datetime">
                <div class="col datetime">
                    <div class="input-group w-100">
                        <input type="number" min="1" max="42" placeholder="#" 
                                class="form-control rounded-pill rounded-end border-dark text-center bg-white gondolas" />
                        <input type="number" min="1" max="200" placeholder="$" 
                                class="form-control rounded-pill rounded-start border-dark text-center bg-white price" />
                    </div>
                </div>
            </template>
            <div id="time-header-row" class="row mb-3 g-2 gx-lg-5">
                <div class="col"></div>
            </div>
        </fieldset>
        <div class="col-auto m-auto">
            <button id="newtime" type="button" class="btn btn-outline-primary w-100 w-sm-75 rounded-pill" >+</button>
        </div>
        <div class="w-100 text-center">
            <button id="newdate" type="button" class="btn btn-outline-primary w-lg-25 rounded-pill">+</button>
        </div>
        <div class="col-auto ms-auto">
            <select name="status" class="form-select rounded-pill ps-4 pe-5" >
                <option value="Inactive">Inactive</option>
                <option value="Upcoming" selected>Upcoming</option>
                <option value="Booked out">Booked out</option>
                <option value="Cancelled">Cancelled</option>
            </select>
        </div>
        <div class="col-auto">
            <input type="submit" name="submit" value="create" 
                    class="btn btn-primary rounded-pill px-5" />
        </div>
    </fieldset>
</form>
{% endblock %}

{% block scripts %}
<script>
    (function(){
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        });

        document.getElementById('category').addEventListener('change', ({target}) => {
            document.getElementById('newcategory').value = target.value;
        });

        document.getElementById('releaseWoTickets').addEventListener('change', ({target}) => {
            document.getElementById('eventStatus').toggleAttribute('disabled');
            document.getElementById('eventSubmit').toggleAttribute('disabled');
            document.getElementById('tickets').toggleAttribute('disabled');
        });

        const newtimebutton = document.getElementById('newtime');
        newtimebutton.addEventListener('click', ({target}) => {
            // only allow when other fields are valid
            if ( ! target.form.reportValidity() ) return;
            
            // only allow 4 sessions per day
            const columns = document.querySelectorAll('.time-header')
            if ( columns.length >= 5 ) return;

            // insert a new header with time input field
            const timesheader = document.getElementById('time-header-row');
            const timesheadercell = document.getElementById('empty-time-header').content.cloneNode(true);
            timesheader.append(timesheadercell);

            // insert a new datetime cell into each date row
            const rows = document.querySelectorAll('.date-row'); // this does not include the row in the template. get it
            const daterowintemplate = document.getElementById('empty-date-row').content.firstElementChild;
            const newdatetimecell = document.getElementById('empty-datetime');
            [...rows, daterowintemplate].forEach( daterow => {
                daterow.append(newdatetimecell.content.cloneNode(true));
            } );
        } )

        const newdatebutton = document.getElementById('newdate');
        newdatebutton.addEventListener('click', ({target}) => {
            // only allow when other fields are valid
            if ( ! target.form.reportValidity() ) return;
            
            const table = document.getElementById('ticketstable');
            const newdaterow = document.getElementById('empty-date-row').content.cloneNode(true);
            table.append(newdaterow);
        });

        // add a datetimecell from the beginning
        newdatebutton.dispatchEvent( new Event('click') );
        newtimebutton.dispatchEvent( new Event('click') );

        const form = document.getElementById('create-event');
        form.addEventListener('formdata', (event) => {
            if ( event.target.releaseWoTickets.checked ) return;

            const times = document.querySelectorAll('.time-header');
            const daterows = document.querySelectorAll('.date-row');

            const alltickets = [];
            daterows.forEach( daterow => {
                const date = daterow.querySelector('.date-header').value;
                const datetimes = daterow.querySelectorAll('.datetime');

                datetimes.forEach( (datetime, index) => {
                    const datetimestamp = date + " " + times[index].value;
                    const numberOfGondolas = datetime.querySelector('.gondolas').value || 0;
                    const price = datetime.querySelector('.price').value || 0;
                    
                    alltickets.push({
                        datetime: datetimestamp,
                        numberOfGondolas,
                        price
                    })
                } )
            } )

            event.formData.append('tickets', JSON.stringify(alltickets))
        } );
    })()
</script>

{% endblock %}