{% extends 'base.html' %}

<!-- TODO: use the events passed to this template  -->
<!-- TODO: search form?  -->
{% block hero %}
<div id="hero-mini" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" class="active" 
                data-bs-target="#hero" data-bs-slide-to="0"></button>
        <button type="button" 
                data-bs-target="#hero" data-bs-slide-to="1"></button>
        <button type="button" 
                data-bs-target="#hero" data-bs-slide-to="2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div style="background-image: url('/static/images/bluesky.jpg');"></div>
        </div>
        <div class="carousel-item">
            <div style="background-image: url('/static/images/brisbane.jpg')"></div>
        </div>
        <div class="carousel-item">
            <div style="background-image: url('/static/images/birds.jpg'); background-position: bottom;"></div>                    
        </div>
    </div>
    <button type="button" class="carousel-control-prev" 
            data-bs-target="#hero" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button type="button" class="carousel-control-next" 
            data-bs-target="#hero" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock %}

{% block title %}All events in the future. Search results here too{% endblock %}

{% block header_buttons %}
    {% if current_user.is_authenticated and current_user.is_admin() %}
        <div class="col-6 col-md-auto my-auto">
            <a href="{{ url_for('events.create') }}" class="btn btn-outline-primary rounded-pill px-4">Create Event</a>
        </div>
    {% endif %}
    <!-- TODO: we might have to make this into a form that just does a GET requests to /events/:category -->
    <!-- because at the moment it doesnt do anything -->
    <div class="col-6 col-md-auto my-auto">
        <select id="catselect" class="form-select rounded-pill ps-4 pe-5" >
            <option value="" selected>All categories</option>
            {% for category in categories %}
                <option value="{{category}}">{{category}}</option>
            {% endfor %}
        </select>
    </div>
{% endblock %}

{% block content %}
<section>
    <!-- <header class="row mb-3">
        <h3 class="col-auto">Upcoming Events</h3>
    </header> -->
    
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 mb-3 g-3">
        {% for event in events %} 
        <div class="col event">
            <article class="card">
                <a href="{{url_for('events.view', id=event.id)}}" class="card-image" style="background-image: url('{{ event.image }}'); background-position: top;"></a>
                <div class="card-body">
                    <h5 class="card-title">{{ event.name }}</h5>
                    <p class="mb-1"><strong>{{ event.printTicketsDateRange() }}</strong></p>
                    <p class="mb-1"><strong>{{ event.printTicketsTimeRange() }}</strong></p>
                    <p class="card-text">{{ event.description }}</p>
                    <div class="row">
                        <span class="col my-auto">{{ event.status }}{{ ": {}".format( event.getTicketsPriceFrom() ) if event.status == "upcoming" }}</span>
                        <span class="col-auto"><a href="{{url_for('events.view', id=event.id)}}" class="btn btn-outline-{{ event.getStatusColour() }} rounded-pill px-4">View event</a></span>
                    </div>
                </div>
            </article>
        </div>
        {% endfor %} 
    </div>
</section>
{% endblock %}
