{% extends 'base.html' %}

{% block hero %}
<div id="minihero" style="background-image: url('{{ event.image }}');"></div>
{% endblock %}

{% block title %}{{ event.name }}{% endblock %}

<!-- TODO: this page uses the event object a bit but it's not complete -->

{% block header_buttons %}
{% if current_user.is_authenticated and current_user.is_admin() %}
    <div class="col-sm-auto my-auto">
        <a href="{{ url_for('events.update', id=event.id) }}" class="btn btn-outline-primary rounded-pill px-5">Update</a>
    </div>
{% endif %}

{% if current_user.is_authenticated and current_user.is_admin() %}
    <div class="col-sm-auto my-auto">
        <a href="{{ url_for('events.delete', id=event.id) }}" class="btn btn-outline-primary rounded-pill px-5">Delete</a>
    </div>
{% endif %}

{% endblock %}

{% block content %}
<section>
    <!-- TODO: We're storing HTML in the database. How do we made Flask parse HTML? -->
    {{ event.description }}
</section>
<section>
    <header class="row mb-3">
        <h3 class="col">Dates and times</h3>
        <span class="col-sm-auto ms-auto my-auto">{{ event.status }}</span>
    </header>
    <div class="row mb-3">
        <div class="col-sm">
            <p class="mb-1">
                {{event.getTicketsDateRange()}}
            </p>
            <!-- <p class="mb-1">
                % for join, date in event.getTicketsDateRange().items() %
                    join:&nbsp;date
                % endfor %
            </p> -->
        </div>
        <!-- <div class="col-sm">
            <p class="mb-1">
                % for join, time in event.getTicketsTimeRange().items() %
                join:&nbsp;time
                % endfor %
            </p>
        </div> -->
        <div class="col-sm">
            <p>{{ event.getTicketsPriceFrom() }}</p>
        </div>
        <div class="col-sm-auto my-auto">
            <button type="button" class="btn btn-outline-{{ event.getStatusColour() }} rounded-pill px-5" 
                    data-bs-toggle="modal" data-bs-target="#book" {{ "disabled" if event.status != 'upcoming' }}>{{ event.getBookButtonText() }}</button>
        </div>
    </div>
    <div id="book" class="modal fade" tabindex="-1" 
            data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-lg">
            <form class="modal-content" method="POST" action="{{ url_for('events.book') }}">
                {{ bookform.hidden_tag() }}
                {{ bookform.event }}
                <div class="modal-header">
                    <h5 id="staticBackdropLabel" class="modal-title">Book your tickets to {{ event.name }} on the Wheel of Brisbane</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <fieldset class="row row-cols-{{ times|length+1 }} mb-3 btn-group g-2 gx-lg-5">
                        <legend class="col-12 col-lg">Dates and times</legend>
                        <span class="col-12 col-lg-auto my-auto">Prices listed are per gondola. Max 6 people</span>
                        <div class="w-100"></div>
                        <!-- times header -->
                        <div class="col"></div>
                        {% for time in times %}
                            <div class="col">
                                <label class="btn btn-light rounded-pill w-100">{{time}}</label>    
                            </div>
                        {% endfor %}
                        <!-- new date row -->
                        {% for date, times in dates %}
                            <div class="col">
                                <label class="btn btn-light rounded-pill w-100">{{date}}</label>    
                            </div>
                            {% for ticket_id, remaining in times %}
                                {% for ticket in bookform.ticket if ticket.data == ticket_id %}
                                    <div class="col">
                                        {% if remaining > 0 %}
                                            {{ ticket(class_="btn-check", data_remaining=remaining, data_price=ticket.label.text.strip('$'), required=True ) }}
                                            {{ ticket.label(class_="btn btn-outline-success rounded-pill w-100") }}
                                        {% else %}
                                            {{ ticket(class_="btn-check", data_price=ticket.label.text.strip('$'), disabled=True ) }}
                                            {{ ticket.label(class_="btn btn-outline-secondary rounded-pill w-100" ) }}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </fieldset>
                    <fieldset class="row mb-3 g-2">
                        <legend class="">Passengers and Gondolas</legend>
                        <span class="">Up to 6 passengers may ride together in one gondola. You may, however, reserve as many extra gondolas for your group as you please.</span>
                        
                        <div class="col text-end">
                            <label for="people">number of people</label>
                        </div>
                        <div class="col-auto">
                            <div class="btn-group counter">
                                <button type="button" disabled
                                        class="btn btn-success rounded-pill rounded-end minus">-</button>
                                <input id="people" type="number" min="1" max="252" value="1" 
                                    class="rounded-0 border-success border-start-0 border-end-0 form-control text-center shadow-none"/>
                                <button type="button" 
                                        class="btn btn-success rounded-pill rounded-start plus">+</button>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col text-end">{{ bookform.qty.label }}</div>
                        <div class="col-auto">
                            <div class="btn-group counter">
                                <button type="button" disabled 
                                        class="btn btn-success rounded-pill rounded-end minus">-</button>
                                {{ bookform.qty(class_="rounded-0 border-success border-start-0 border-end-0 form-control text-center shadow-none",  min="1", max="42") }}
                                <button type="button" disabled 
                                        class="btn btn-success rounded-pill rounded-start plus">+</button>
                            </div>
                        </div>
                        <div id="remainingWarning" class="w-100 text-end"></div>
                        <div class="col my-auto text-end">
                            <label for="price">price</label>
                        </div>
                        <div class="col-auto">
                            <div class="btn-group counter">
                                <span class="btn btn-success rounded-pill rounded-end">$</span>
                                {{ bookform.price(readonly=true, class_="rounded-0 border-success border-start-0 border-end-0 form-control text-center shadow-none bg-white",  min="0") }}
                                <span class="btn btn-success rounded-pill rounded-start">.00</span>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary rounded-pill px-5" 
                            data-bs-dismiss="modal">Cancel</button>
                    {{ bookform.submit(class_="btn btn-success rounded-pill px-5") }}
                </div>
            </form>
        </div>
    </div>
</section>
<section>
    <header><h3>Reviews</h3></header>
    {% if current_user.is_authenticated %}
    <form id="review" class="row mb-3" method="POST">
        {# form.hidden_tag() #}
        <input type="hidden" name="author" value="you" 
                class="form-control-plaintext" readonly>
        <div class="col">
            <div class="form-floating">
                <textarea id="reviewtext" name="review" required 
                        class="form-control" placeholder="Write a review"></textarea>
                <label for="reviewtext">Review</label>
            </div>
        </div>
        <div class="col-auto my-auto">
            <button type="submit" 
                    class="btn btn-outline-success rounded-pill px-5">Post Review</button>
        </div>
    </form>
    {% endif %}
    <div id="reviews">
    {% for review in reviews %}
        <article>
            <strong>review.author</strong>
            <i>review.time</i>
            <p>{{ review.text }}</p>
        </article>
    {% endfor %}
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    });

    const people = document.getElementById('people');
    const gondolas = document.getElementById('qty');

    /* selecting a ticket option */
    document.querySelectorAll('[name="ticket"]').forEach( (ticket) => {
        ticket.addEventListener('change', ({target}) => {
            updatePrice( target.getAttribute('data-price') || 0 );

            const warning = document.getElementById('remainingWarning');
            const remaining = target.getAttribute('data-remaining');
            warning.innerText = "There are " + remaining + " gondolas remaining for this time.";
        } )
    } )

    /* updating number of people */
    people.addEventListener('change', ({target}) => {
        const minus = target.closest('.counter').querySelector('.minus');
        minus.disabled = (target.value === target.min );

        const plus = target.closest('.counter').querySelector('.plus');
        plus.disabled = (target.value === target.max);

        const requiredgondolas = Math.ceil( Number(target.value)/6 );

        const currentgondolas = Number(gondolas.value);
        if ( currentgondolas < requiredgondolas || target.value < currentgondolas ){
            gondolas.value = requiredgondolas;
        }

        gondolas.dispatchEvent( new Event('change') );
    } );

    /* updating number of gondolas */
    gondolas.addEventListener('change', ({target}) => {
        const plus = target.closest('.counter').querySelector('.plus');
        plus.disabled = (target.value === people.value || target.value === target.max);
        
        const requiredgondolas = Math.ceil( Number(people.value)/6 );
        const minus = target.closest('.counter').querySelector('.minus');
        minus.disabled = (target.value <= requiredgondolas);

        const price = document.querySelector(`[value="${target.form.ticket.value}"]`);

        price && updatePrice( price.getAttribute('data-price') || 0 );
    } );

    /* controls for buttons */
    document.querySelectorAll('.counter').forEach( (counter) => {
        counter.querySelectorAll('button').forEach( (button) => {
            button.addEventListener('click', () => {
                const input = counter.querySelector('input');

                if ( button.classList.contains('plus') )
                    input.stepUp();
                
                if ( button.classList.contains('minus') )
                    input.stepDown();

                input.dispatchEvent( new Event('change') );
            } );
        } );
    } );

    function updatePrice(price){
        document.getElementById('price').value = Number(gondolas.value) * Number( price );
    }
</script>

{% endblock %}