{% extends 'base.html' %}

{% block hero %}
<div id="hero" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" class="active" 
                data-bs-target="#hero" data-bs-slide-to="0"></button>
        <button type="button" 
                data-bs-target="#hero" data-bs-slide-to="1"></button>
        <button type="button" 
                data-bs-target="#hero" data-bs-slide-to="2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div style="background-image: url('/static/images/bluesky.jpg');"></div>
        </div>
        <div class="carousel-item">
            <div style="background-image: url('/static/images/brisbane.jpg')"></div>
        </div>
        <div class="carousel-item">
            <div style="background-image: url('/static/images/birds.jpg'); background-position: bottom;"></div>                    
        </div>
    </div>
    <button type="button" class="carousel-control-prev" 
            data-bs-target="#hero" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button type="button" class="carousel-control-next" 
            data-bs-target="#hero" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock %}

{% block content %}
<section>
    <header class="row mb-3">
        <h3 class="col-auto">Upcoming Events</h3>
    </header>

        <div class='row row-cols-1 row-cols-md-2 row-cols-xl-3 mb-3 g-3'>
        {% for event in upcoming %}
        <div class="col event">
            <article class="card">
                <a href="{{url_for('events.view', id=event.id)}}" class="card-image" style="background-image: url('.{{ event.image }}'); background-position: top;"></a>
                <div class="card-body">
                    <h5 class="card-title">{{ event.name }}</h5>

                    <p class="mb-1">
                        <strong>
                            {{event.getTicketsDateRange()}}
                        </strong>
                    </p>

                <p class="card-text">{{ event.description }}</p>
                    <div class="row">
                        <span class="col my-auto">{{ "{}: {}".format( event.status, event.getTicketsPriceFrom() ) }}</span>
                        <span class="col-auto"><a href="{{url_for('events.view', id=event.id)}}" class="btn btn-outline-{{ event.getStatusColour() }} rounded-pill px-4">View event</a></span>
                    </div>


                </div>
            </article>
        </div>
        {% endfor %}
    </div>
</section>
<section>
    <header class="row mb-3">
        <h3 class="col-auto">Missed the memo? These got cancelled.</h3>
    </header>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 mb-3 g-3">
        {% for event in cancelled %}
        <div class="col event">
            <article class="card">
                <a href="{{url_for('events.view', id=event.id)}}" class="card-image" style="background-image: url('.{{ event.image }}'); background-position: top;"></a>
                <div class="card-body">
                    <h5 class="card-title">{{ event.name }}</h5>

                    <p class="mb-1">
                        <strong>
                            {{event.getTicketsDateRange()}}
                        </strong>
                    </p>

                <p class="card-text">{{ event.description }}</p>
                    <div class="row">
                        <span class="col my-auto">{{ "{}: {}".format( event.status, event.getTicketsPriceFrom() ) }}</span>
                        <span class="col-auto"><a href="{{url_for('events.view', id=event.id)}}" class="btn btn-outline-{{ event.getStatusColour() }} rounded-pill px-4">View event</a></span>
                    </div>


                </div>
            </article>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
