{% extends 'base.html' %}

{% block hero %}
<div id="hero" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" class="active" 
                data-bs-target="#hero" data-bs-slide-to="0"></button>
        <button type="button" 
                data-bs-target="#hero" data-bs-slide-to="1"></button>
        <button type="button" 
                data-bs-target="#hero" data-bs-slide-to="2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div style="background-image: url('/static/images/bluesky.jpg');"></div>
        </div>
        <div class="carousel-item">
            <div style="background-image: url('/static/images/brisbane.jpg')"></div>
        </div>
        <div class="carousel-item">
            <div style="background-image: url('/static/images/birds.jpg'); background-position: bottom;"></div>                    
        </div>
    </div>
    <button type="button" class="carousel-control-prev" 
            data-bs-target="#hero" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button type="button" class="carousel-control-next" 
            data-bs-target="#hero" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock %}

{% block title %}Upcoming Events{% endblock %}

{% block header_buttons %}
    <div class="col-6 col-md-auto my-auto">
            <a href="./create.html" class="btn btn-outline-primary rounded-pill px-4">Create Event</a>
    </div>
    <div class="col-6 col-md-auto my-auto">
        <select id="catselect" class="form-select rounded-pill ps-4 pe-5" >
            <option value="" selected>All categories</option>
            <!-- {% for category in categories %} -->
            <option value="fireworks">Fireworks</option>
            <!-- {% endfor %} -->
        </select>
    </div>
{% endblock %}
    
{% block content %}
<section class="row row-cols-1 row-cols-md-2 row-cols-xl-3 mb-3 g-3">
    <!-- {% for event in events %} -->
    <div class="col event fireworks">
        <article class="card">
            <a href="./event.html" class="card-image" style="background-image: url('/static/images/fireworks.jpg'); background-position: top;"></a>
            <div class="card-body">
                <h5 class="card-title">Sunsuper Riverfire</h5>
                <p class="mb-1"><strong>25/09/21</strong></p>
                <p><strong>8pm and 10pm</strong></p>
            <p class="card-text">See Australia's most beautiful city in a new light. As another year of celebrations for our great city draw to a close, Sunsuper and Brisbane Festival will light up the night and you'll have the best seats in the house. Riverfront, sky-high and air-conditioned! Tickets are selling out fast so book now before it's too late.</p>
                <div class="row">
                    <span class="col my-auto" data-bs-toggle="tooltip" data-bs-placement="right" 
                    title="no price shown for booked out items.">booked out</span>
                    <span class="col-auto"><a href="./event.html" class="btn btn-outline-secondary rounded-pill px-4">View event</a></span>
                </div>
            </div>
        </article>
    </div>
    <!-- {% endfor %} -->
</section>
{% endblock %}
