{% extends 'base.html' %}

{% block hero %}
<div id="minihero" style="background-image: url('{{ event.image }}');"></div>
{% endblock %}

{% block title %}{{ event.name }}{% endblock %}

{% block header_buttons %}
{% if current_user.is_authenticated and current_user.is_admin() %}
    <div class="col-sm-auto my-auto">
        <a href="{{ url_for('events.update', id=event.id) }}" class="btn btn-outline-primary rounded-pill px-5">Update</a>
    </div>
{% endif %}
{% endblock %}

{% block content %}

<form id="update-event" method="POST" action="{{ url_for('events.update', id=event.id) }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset class="row mb-3 g-3">
        <legend>Event details</legend>
        <div class="col-lg-6">
            <div class="form-floating">
            {{ form.name(class="form-control") }}
            {{ form.name.label }}


            </div>
        </div>
        <div class="col-lg-6">
            <div class="input-group form-floating">

                {{ form.newcategory(class="form-control", placeholder="select a category for this event") }}
                {{ form.newcategory.label(style="z-index: 3") }}
                
                {# form.category.label #}
                {{ form.category(class="form-select btn-outline-primary p-3") }}                    

                    {# for category in form.categories #}
                    {# endfor #}
  
            </div>
        </div>
        <div class="w-100">
            <div class="form-floating">

                <textarea id="eventdesc" name="desc" class="form-control" rows="4"
                         style="height: auto;" placeholder="enter a description">{{event.description}}</textarea> 
                 <label for="floatingTextarea2">Event description</label> 
            </div>
        </div>
        <div class="input-group">
        
            <img src="{{ event.image}}">
            {{ form.image.label(class="input-group-text") }}
            {{ form.image(class="form-control") }}




        </div>

        <section>
            <div class="col-auto ms-auto">
                {% set upcoming = form.changeDefaultStatus("upcoming") %}
                {{ upcoming(class="form-select rounded-pill w-100 ps-4 pe-5") }}
            </div>
        </section>

        <div class="col-auto">
            {# form.submit.label #}
            {{ form.submit(class="btn btn-primary rounded-pill px-5") }}

        </div>

    </fieldset>
</form>

</p>
</p>
</p>
</p>
</br>
</p>






{% endblock %}

{% block scripts %}
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    });

   
    /* controls for buttons */
    document.querySelectorAll('.counter').forEach( (counter) => {
        counter.querySelectorAll('button').forEach( (button) => {
            button.addEventListener('click', () => {
                const input = counter.querySelector('input');

                if ( button.classList.contains('plus') )
                    input.stepUp();
                
                if ( button.classList.contains('minus') )
                    input.stepDown();

                input.dispatchEvent( new Event('change') );
            } );
        } );
    } );


</script>

{% endblock %}